@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #F4DECB;
    background-size: cover;
    background-position: center;
	position: relative;
    height: auto;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.content{
    max-width: 800px;
    text-align: center;
}
.content h2{
    font-size: 36px;
    font-weight: 500;
    color: #49274A;
}
.content p{
    font-weight: 300;
    color: #000;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}
.text h3{
    font-weight: 500;
    color: #49274A;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #49274A;
    font-weight: 500;
}
.inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.inputBox input,.inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5%;
    color: #666;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span{
    color: black;
    font-size: 12px;
    transform: translateY(-20px);
}
.inputBox input[type="submit"]{
    width: 100%;
    background: #49274A;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.inputBox input[type="submit"]:hover{
    background: #333;
}

@media (max-width:990px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .contactInfo{
        margin-bottom: 40px;
        width: 100%;
    }
    .contactForm{
        width: 100%;
    }
}
@media (max-width:360px){
    body{
        width: 360px;
    }
    .text{
        font-size: 14px;
    }
}
@media (max-width:180px){
    body{
        width: 360px;
        height: 80rem;
    }
}
@media (max-width:160px){
    body{
        width: 360px;
        height: 100rem;
        padding-top: 200px;
    }
}
@media (max-width:130px){
    body{
        width: 360px;
        height: 120rem;
    }
}
@media (max-width:108px){
    body{
        width: 360px;
        height: 140rem;
    }
}